<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/eventStyle.css" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/generalUserStyle.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" >
    <title>Events</title>
</head>
<body>
<div class="navigationBar">
	<a href="/contactUs"><i class= "fa fa-calendar-check-o "></i> Reach Out</a>
	<a href="/aboutUs"><i class= "fa fa-info-circle"></i> About Us</a>
	<a href="/donation"><i class= "far fa-heart"></i> Give</a>
	<div class="navDropDown">
		<button class="navdropbtn">Events
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="navdropdown-content">
		<a href="/event">Annual Events</a>
		<a href="/booking">Theater</a>
		<a href="/event">Masses</a>
		</div>
	</div>
	<a href="/"><i class="fa fa-home fa-2xl"></i></a>
	<a  href="/competitionsHome">Competetions <i class="fas fa-dice"></i></a>
	<a href="/wedding">Book a Wedding  <i class="fa fa-group"></i></a>
	<a class="loginButton"> <button class="center" id = "show-login" ><i> Login</i></button></a>
	<div class="navUserSign">
		<button class="navdropUserSign">
			<i class="fas fa-user"></i>
		</button>
		<div class="navdropdown-content">
		<a href="/deletecookie">Sign Out</a>
		</div>
	</div>
	
	</div>
<!-- //////////////////////////////////////////////// -->
    <h2 class="pageTitle">Events</h2>

    <div class="bodyDiv">

        <div class="leftDiv">
            <h3 class="secondTitle">Upcoming Celebrations</h3>
            <br>
            <i class="fa fa-home"></i>
            <div class="EventContent">
            <h4 class="thirdTitle"><a href="/booking?eventName=<%= event[0].eventName %>" style="text-decoration: none;"><%= event[0].eventName %></a></h4>
                    <p><%= event[0].eventDescription %></p>
            </div>
			<br>
			<i class="fa fa-home"></i>
            <div class="EventContent">
            <h4 class="thirdTitle"><a href="/booking?eventName=<%= event[1].eventName %>" style="text-decoration: none;"> <%= event[1].eventName %> </a></h4>
                    <p><%= event[1].eventDescription %></p>
            </div>
			<br>
			<i class="fa fa-home"></i>
            <div class="EventContent">
            <h4 class="thirdTitle"><a href="/booking?eventName=<%= event[2].eventName %>" style="text-decoration: none;"><%= event[2].eventName %></a></h4>
                    <p><%= event[2].eventDescription %></p>
            </div>
			<br>
			
        </div>
        <div class="middleDiv">
            <div class="EventsImagesContainer">
                <img class="image" src="/images/EventImg/party1.jpg" title="Party" alt="Party">
                <img class="image" src="/images/EventImg/party2.jpg" title="Party" alt="Party">
            </div>
        </div>

        <div class="rightDiv">
            <h3 class="CalendarMonthTitle">
                May 2022
            </h3>
            <br/>

            <table bgcolor="lightgrey" align="center"
				cellspacing="21" cellpadding="21">
				<caption align="top">
				</caption>
		<thead>
			<tr>
				<th style="color: white; background: purple;">
					Sun</th>
				<th style="color: white; background: purple;">
					Mon</th>
				<th style="color: white; background: purple;">
					Tue</th>
				<th style="color: white; background: purple;">
					Wed</th>
				<th style="color: white; background: purple;">
					Thu</th>
				<th style="color: white; background: purple;">
					Fri</th>
				<th style="color: white; background: purple;">
					Sat</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>1</td>
				<td>2</td>
			</tr>
			<tr></tr>
			<tr>
				<td>3</td>
				<td>4</td>
				<td>5</td>
				<td>6</td>
				<td>7</td>
				<td>8</td>
				<td>9</td>
			</tr>
			<tr>
				<td>10</td>
				<td>11</td>
				<td>12</td>
				<td>13</td>
				<td>14</td>
				<td>15</td>
				<td>16</td>
			</tr>
			<tr>
				<td>17</td>
				<td>18</td>
				<td>19</td>
				<td>20</td>
				<td>21</td>
				<td>22</td>
				<td>23</td>
			</tr>
			<tr>
				<td>24</td>
				<td>25</td>
				<td>26</td>
				<td>27</td>
				<td>28</td>
				<td>29</td>
				<td>30</td>
			</tr>
			<tr>
				<td>31</td>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
				<td>6</td>
			</tr>
		</tbody>
	</table>
        </div>
    </div>
</body>




<div class="fixedFooter">
    <div class="fixedFooterIcons">
      <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube fa-xl" style="padding:20px"></i></a>
      <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f fa-xl" style="padding:20px"></i></a>
      <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter fa-xl" style="padding:20px"></i></a>
      <a href="https://www.google.com/"  target="_blank" rel="noopener noreferrer"><i class="fab fa-google-play fa-xl" style="padding:20px"></i></a>
    </div>
  </div>


  <div class="eventFooter">
    <div class="footerIcons">
      <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube fa-2xl" style="padding:20px"></i></a>
      <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f fa-2xl" style="padding:20px"></i></a>
      <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter fa-2xl" style="padding:20px"></i></a>
      <a href="https://www.google.com/"  target="_blank" rel="noopener noreferrer"><i class="fab fa-google-play fa-2xl" style="padding:20px"></i></a>
    </div>

    <div class="footerLeft">
      <a class = "footerTitle"> CONTACT</a>
      <br>
      <br>
      <a><i class="fas fa-phone-square-alt" style="padding:10px"></i> 12345</a>
      <br>
      <a><i class="fas fa-envelope-square" style="padding:10px"></i> kenesty@cairo.org.eg</a>
    </div>

    <div class="footerRight">
      <a class = "footerTitle"> LOCATION</a>
      <br>
      <br>
      <a><i class="fas fa-map-marker-alt" style="padding:10px"></i> 123, XYZ Road ASU</a>
      <br>
      <a> Cairo, EGYPT</a>
    </div>

    <div class="footerText">
      <a href="/"><i  style="padding:10px"></i> Home</a>
      <a href="index.html#services" ><i  style="padding:10px"></i>Services</a>
      <a><i  style="padding:10px"></i>About</a>
      <a><i  style="padding:10px"></i>Privacy Policy</a>
    </div>

    <div class="copyright"> <a><i class="far fa-copyright" style="padding:2px"></i></a>2022 ASU Engineers | All Rights Reserved</div>


  </div>



<div class = "popup">
	<div class="close-btn">&times;</div>
	<div class="form">

	  <div class="split left">
	  <img src="/images/homeImg/st-anthony-s-catholic.jpg" class = "leftpic" alt="Church" title="knisty"  height="100%" width="50%"/>
	  </div>

	  <div class="split right">
		  <h1 class="pageTitles">كنيستى</h1>
		  <br>
		  <br>
		  <form class="login_form" method="post" action="/validateUserLogin" name="form" onsubmit="return validated()">
			<div class="imgcontainer">
			  <img src="/images/homeImg/kenstylogo2.png" alt="knesty" class="knestylogo">
			</div>
			<legend class="SignInTitle">Sign in to your account</legend>
			<div class="input-container">            
			  <i class="fas fa-user icon"></i>
			<input class="input-container"
			autocomplete="off"
			id="userName"
			name="userNameLogin"
			type="text"
			placeholder="Enter Your ID"
			/>
		  <div id="username_error">Please Fill up your ID</div>
		  
			
			  <i class="fas fa-lock icon"></i>
			  
			  <input class="input-container pass_field"
				id="id_password"
				name="passwordLogin"
				autocomplete="off"
				type="password"
				placeholder="Enter Password"
			  />
			  <i class="fa fa-eye" id="togglePassword" style="cursor: pointer" ></i> 
			  <div id="pass_error">Please Fill up your password</div>
	
			  <button type="submit" id="loginbtn">Login</button>
			  <a class="forgotPasswordLink" href="#"> Forgot Password? </a> 

			  <br>
			
			  <label class="keepme">
				<input type="checkbox" checked="checked" name="rememeber" />
				Keep me signed in
			  </label>
			<div>
		  </form>
		</div>
		<script src="/javascripts/home.js" rel></script>
	  </div>  
</div>




</html>