<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Competitions</title>
<link rel="stylesheet" href="stylesheets/generalCompetitionsPageStyle.css" >
<link rel="stylesheet" href="/stylesheets/generalUserStyle.css" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" >

</head>
<body>

    
<div class="navigationBar">
    <a href="/contactUs"><i class= "fa fa-calendar-check-o "></i> Reach Out</a>
    <a href="/aboutUs"><i class= "fa fa-info-circle"></i> About Us</a>
    <a href="/donation"><i class= "far fa-heart"></i> Give</a>
    <div class="navDropDown">
        <button class="navdropbtn">Events
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="navdropdown-content">
        <a href="/event">Annual Events</a>
        <a href="/booking">Theater</a>
        <a href="/event">Masses</a>
        </div>
    </div>
    <a href="/"><i class="fa fa-home fa-2xl"></i></a>
    <a  href="/competitionsHome">Competetions <i class="fas fa-dice"></i></a>
    <a href="/wedding">Book a Wedding  <i class="fa fa-group"></i></a>
    <a class="loginButton"> <button class="center" id = "show-login" ><i> Login</i></button></a>
    <div class="navUserSign">
    <button class="navdropUserSign">
        <i class="fas fa-user"></i>
    </button>
    <div class="navdropdown-content">
    <a href="/deletecookie">Sign Out</a>
    </div>
    </div>

</div>



<h1><i class="fas fa-dice"></i> Competitions</h1>
<h3>Participate and get a chance to win one of our awards</h3>
<h1 style="margin-top: 5%;">8</h1>
<h3 style="margin-top: -1%; margin-bottom: 5%;"> <i class="fas fa-star"></i> <br>Points</h3>
<a class="competitionOne" href="/competition?competitionName=<%= competition[0].competitionName %>">
<div class="competitionOneInner">
<div class="competitionOneFront">
    <img src="/images/competitionGeneralImg/mario.png" alt="Competition One Image" style="width:300px;height:300px;">
</div>
<div class="competitionOneBack">
    <h1><%= competition[0].competitionName %>     </h1> 
    <p> <%= competition[0].competitionStartDate %></p> 
    <p> <%= competition[0].competitionEndDate %>  </p>
</div>
</div>
</a>

<a class="competitionTwo" href="/competition?competitionName=<%= competition[1].competitionName %>">
<div class="competitionTwoInner">
<div class="competitionTwoFront">
    <img src="/images/competitionGeneralImg/mario.png" alt="Competition Two Image" style="width:300px;height:300px;">
</div>
<div class="competitionTwoBack">
    <h1><%= competition[1].competitionName %></h1> 
    <p><%= competition[1].competitionStartDate %></p> 
    <p><%= competition[1].competitionEndDate %></p>
</div>
</div>
</a>

<a class="competitionThree" href="/competition?competitionName=<%= competition[2].competitionName %>">
<div class="competitionThreeInner">
<div class="competitionThreeFront">
    <img src="/images/competitionGeneralImg/mario.png" alt="Competition Three Image" style="width:300px;height:300px;">
</div>
<div class="competitionThreeBack">
    <h1><%= competition[2].competitionName %></h1> 
    <p><%= competition[2].competitionStartDate %></p> 
    <p><%= competition[2].competitionEndDate %></p>>
</div>
</div>
</a>

<a class="competitionFour" href="/competition?competitionName=<%= competition[3].competitionName %>">
<div class="competitionFourInner">
<div class="competitionFourFront">
    <img src="/images/competitionGeneralImg/mario.png" alt="Competition Four Image" style="width:300px;height:300px;">
</div>
<div class="competitionFourBack">
    <h1><%= competition[3].competitionName %></h1> 
    <p><%= competition[3].competitionStartDate %></p> 
    <p><%= competition[3].competitionEndDate %></p>
</div>
</div>
</a>

<a class="competitionFive" href="/competition?competitionName=<%= competition[4].competitionName %>">
<div class="competitionFiveInner">
<div class="competitionFiveFront">
    <img src="/images/competitionGeneralImg/mario.png" alt="Competition Five Image" style="width:300px;height:300px;">
</div>
<div class="competitionFiveBack">
    <h1><%= competition[4].competitionName %></h1> 
    <p><%= competition[4].competitionStartDate %></p> 
    <p><%= competition[4].competitionEndDate %></p>
</div>
</div>
</a>












    <div class="fixedFooter">
    <div class="fixedFooterIcons">
        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube fa-xl" style="padding:20px"></i></a>
        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f fa-xl" style="padding:20px"></i></a>
        <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter fa-xl" style="padding:20px"></i></a>
        <a href="https://www.google.com/"  target="_blank" rel="noopener noreferrer"><i class="fab fa-google-play fa-xl" style="padding:20px"></i></a>
    </div>
    </div>


    <div class="competetionFooter">
    <div class="footerIcons">
        <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube fa-2xl" style="padding:20px"></i></a>
        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f fa-2xl" style="padding:20px"></i></a>
        <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter fa-2xl" style="padding:20px"></i></a>
        <a href="https://www.google.com/"  target="_blank" rel="noopener noreferrer"><i class="fab fa-google-play fa-2xl" style="padding:20px"></i></a>
    </div>

    <div class="footerLeft">
        <a class = "footerTitle"> CONTACT</a>
        <br>
        <br>
        <a><i class="fas fa-phone-square-alt" style="padding:10px"></i> 12345</a>
        <br>
        <a><i class="fas fa-envelope-square" style="padding:10px"></i> kenesty@cairo.org.eg</a>
    </div>

    <div class="footerRight">
        <a class = "footerTitle"> LOCATION</a>
        <br>
        <br>
        <a><i class="fas fa-map-marker-alt" style="padding:10px"></i> 123, XYZ Road ASU</a>
        <br>
        <a> Cairo, EGYPT</a>
    </div>

    <div class="footerText">
        <a href="/"><i  style="padding:10px"></i> Home</a>
        <a href="index.html#services" ><i  style="padding:10px"></i>Services</a>
        <a><i  style="padding:10px"></i>About</a>
        <a><i  style="padding:10px"></i>Privacy Policy</a>
    </div>

    <div class="copyright"> <a><i class="far fa-copyright" style="padding:2px"></i></a>2022 ASU Engineers | All Rights Reserved</div>


    </div>


<div class = "popup">
    <div class="close-btn">&times;</div>
    <div class="form">

        <div class="split left">
        <img src="/images/homeImg/st-anthony-s-catholic.jpg" class = "leftpic" alt="Church" title="knisty"  height="100%" width="50%"/>
        </div>

        <div class="split right">
            <h1 class="pageTitles">كنيستى</h1>
            <br>
            <br>
            <form class="login_form" method="post" action="/validateUserLogin" name="form" onsubmit="return validated()">
            <div class="imgcontainer">
                <img src="/images/homeImg/kenstylogo2.png" alt="knesty" class="knestylogo">
            </div>
            <legend class="SignInTitle">Sign in to your account</legend>
            <div class="input-container">            
                <i class="fas fa-user icon"></i>
            <input class="input-container"
            autocomplete="off"
            id="userName"
            name="userNameLogin"
            type="text"
            placeholder="Enter Your ID"
            />
            <div id="username_error">Please Fill up your ID</div>
            
            
                <i class="fas fa-lock icon"></i>
                
                <input class="input-container pass_field"
                id="id_password"
                name="passwordLogin"
                autocomplete="off"
                type="password"
                placeholder="Enter Password"
                />
                <i class="fa fa-eye" id="togglePassword" style="cursor: pointer" ></i> 
                <div id="pass_error">Please Fill up your password</div>
    
                <button type="submit" id="loginbtn">Login</button>
                <a class="forgotPasswordLink" href="#"> Forgot Password? </a> 

                <br>
            
                <label class="keepme">
                <input type="checkbox" checked="checked" name="rememeber" />
                Keep me signed in
                </label>
            <div>
            </form>
        </div>
        <script src="/javascripts/home.js" rel></script>
        </div>  
</div>
    




</body>
</html>